.ShowContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  
 

}



/* .tile {
    width: 17%;
    height: 17%;
    border: 1px solid blue;
    background-color: skyblue;
    padding: 3%;
    box-sizing: border-box;
    transition: 1s transform;
    -webkit-transition: 1s -webkit-transform;
    transform-origin: 0px 0px;
    -webkit-transform-origin: 0px 0px;
    /* backface-visibility: hidden; */
    /* display: grid; */

  /* } */
  
  /* .tile:hover {
    transform: scale(2);
    -webkit-transform: scale(2);
  } */ 
  